@import url(http://allfont.ru/allfont.css?fonts=coolvetica-regular);
@import url(http://allfont.ru/allfont.css?fonts=roboto-bold);
@import url(http://allfont.ru/allfont.css?fonts=roboto-medium);
@import url(http://allfont.ru/allfont.css?fonts=roboto-black);

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /*Firefox 1-3*/
	-webkit-box-sizing:border-box; /* Safari */
}

html,body{
	height: 100%;
}

body{
	color:#000;
}

section#head{
	height:100vh;
	background:url(../img/header.png) top center no-repeat;
	background-size: cover;
	color:#fff;
}

.head-logo{
	height: 100vh;
	text-align: center;
}
.wr{
 margin-top:20%;
}
.block{
	margin-top: 68%;
}

.head-logo h1{
	font-size:88px;
	font-family: 'Coolvetica-Regular', arial;
	line-height: 0;
}

.head-logo h2{
	margin-top: -20px;
	margin-bottom: 20px;
	font-size:22px;
	font-family: 'Roboto Bold', arial;
	line-height: 1.2;
}


.btn-Donat,
.btn-GetStart{
	width: 158px;
	height: 50px;
	background: #122e53;
	margin:0 auto;
	margin-top: 50px;
	border: 2px solid #628df0;
	font-family: 'Roboto Bold', arial;
	padding-top:6px;
	font-size: 25px;
	cursor: pointer;
	border-radius: 4px 4px;
	color:#e1e1e1;
}

.auth h3{
	font-size: 16px;
	font-weight: normal;
	font-family: 'Roboto Medium', arial;
	margin-bottom: 0;
}

.auth h3:hover{
	text-decoration: underline;
}


.auth ul{
	list-style:none;
	margin:40px 0;
	padding: 0 10px;
	text-align: right;
}

.auth li{
	display: inline-block;
}
.auth a {
	color:#fff;
	font-size: 14px;
	font-family: 'Roboto Medium', arial;
	text-decoration:none;
	display: block;
}

.avatar{
	width: 15%;
	height: 60px;
	border-radius: 50% 50%;
	border:none;
	box-shadow: 0 5px 10px rgba(0,0,0,0.5);
	object-fit: cover;
	float: right;
	margin-top: -7px;
	margin-left: 10px;
	transition: 0.3s;
}

.avatar:hover{
	transition: 0.9s;
	opacity: 0.6;
}


section#descriptionProject{
	background: #fff;
	height: 70vh;
}

.descriptionSection{
	color:#4b5f83;
	padding-top: 40px;
	padding-left: 40px;
	padding-right: 45px;
	text-align: center;
	height: 70vh;
}

.descriptionSection h2{
	font-size: 22px;
	font-family: 'Roboto Black', arial;
	margin-top: 2px;
	margin-bottom:30px;
}


.descriptionSection h4{
	color: #425371;
	font-size: 14px;
	font-family: 'Roboto Black', arial;
}

section#download{
	height: 100vh;
	color: #fff;
	background: url(../img/downloadBg.png) right center no-repeat;
	background-size: cover;
	text-align: center;
}

.col-download{height: 100vh}
.col-download h2{
	font-size: 22px;
	font-family: 'Roboto Bold', arial;
	margin:20px 0;
}

.col-download ul{
	list-style: none;
	margin:0;
	margin-top: 90px;
	padding: 0;
}

.col-download a{
	color: #fff;
	font-size: 22px;
	font-family: 'Roboto Bold', arial;
}

section#donat{
	height: 70vh;
	background: #e1e1e1;
	text-align: center;
	display: none;
}

.donat-btn{
	display: inline-block;
}

.donat-btn input[type="submit"]{
	width: 65px;
	height: 65px;
	margin-top: 10px;
	margin-right: 30px;
	background: #bcbcbc;
	border-radius: 10px 10px;
	box-shadow: 0 3px 7px rgba(0,0,0,0.19);
	color: #fff;
	text-align: center;
	font-size: 30px;
	border: none;
	outline: none;
}



.donat-center h2{
	margin-top: 50px;
	margin-bottom: 100px;
	color: #1c2b4b;
	font-size: 24px;
	font-family: 'Roboto Bold', arial;
}

.donat-center input[type="text"]{
	width: 400px;
	height: 65px;
	border: none;
	outline: none;
	border-radius: 10px 10px;
	background: #fff;
	position: relative;
	top:-3px;
	left: 0;
	padding-left: 15px;
	font-family: 'Roboto Bold', arial;
	font-size: 20px;
	color: #898989;
}

.donat-input{display: inline-table;}

section#reviews{
	height: 100vh;
	background: #1c2b4b;
}


.recall{
	width: 50vh;
	margin-top: 20px;
	margin-left: 20px;
}

.rate-app h1,
.recall h1{
	color: #d3d3d3;
	font-weight: normal;
	font-family: 'Roboto Black', arial;
}


.rate-app h1{
	margin-left: 200px;
}

.form-group label{
	color: #d3d3d3;
	font-family: "Roboto Medium",arial;
}

.recall textarea{
	resize: none;
}

#btn-recall{
	width: 15vh;
	height: 40px;
	background: #24365e;
	border: 1px solid #1d2c4d;
	font-family: 'Roboto Bold', arial;
	padding-top:8px;
	font-size: 14px;
	cursor: pointer;
	border-radius: 8px 8px;
	color:#d3d3d3;
	float: right;
	box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.rate-app{
	margin-top: 10px;
	margin-left: 150px;
}

.rating{
	font-size: 35px;
	color: #fff;
  	unicode-bidi: bidi-override;
 	direction: rtl;
}


.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
  top:0;
  left:-175px;
}


.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   color:yellow;
}


.comments h2{
	margin-top: 15px;
	margin-bottom: 10px;
	color: #d3d3d3;
	font-weight: normal;
	font-family: 'Roboto Black', arial;
}
.comment-note{
	background: #fff;
	border-radius: 8px 8px;
	margin-top: 10px;
}

.comment-note h4{
	padding-top: 15px;
	margin-left: 15px;
}

.comment-note h3{
	width: 100px;
	font-weight: normal;
	font-size: 12px;
	padding: 0;
	margin-left: 15px;
}

.comment-note h5{
	width: 90%;
	display: block;
	margin-left: 15px;
	padding:10px 5px;
}

/*----Login----*/



#authBody{
    background:url(../img/loginbg2.png) top center no-repeat;
	background-size: cover;
}

.form-auth{
    width: 60%;
    height: 100%;
    z-index: 9999;
    margin: 0 auto;
}

.control-label{
    font-size: 14px;
    font-weight: normal;
    color: #fff;
    margin-bottom: 5px;
	font-family: 'Roboto Black', arial;
}

.login_btn{
    text-align: center;
}



.logo img{
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}

.logo h2{
    font-weight: normal;
    font-size: 55px;
    text-align: center;
    font-family: 'Coolvetica-Regular', arial;
    color:#fcedf8;
    margin-top: -10px;
}

.form-auth input[type="submit"],
#auth-btn{
    width: 125px;
	height: 40px;
	background: #122e53;
	margin:0 auto;
	border: 2px solid #628df0;
	font-family: 'Roboto Bold', arial;
	padding-top:7px;
	font-size: 18px;
	cursor: pointer;
	border-radius: 4px 4px;
	color:#e1e1e1;
}

.form-auth input[type="submit"]{
	padding-top:2px;
	display: block;
}


.header-logo{
	color: #fff;
	float: right;
	padding-top: 15px;
	margin-right: 15px;
}

.header-logo a,
.header-logo h4{
	color:#fff;
	font-size: 16px;
	font-family: 'Roboto Medium', arial;
	text-decoration:none;
	font-weight: normal;
	display: inline-block;
}

.header-logo a:hover{
	text-decoration:underline;
}
.alert-danger ul{
	list-style: none;
}

.alert-danger li{
	font-size: 12px;
	color: #fff;
	text-align: center;
}

.controls li{
	color:#d9edf7;
	font-size: 12px;
}


.Help_user{
	margin-bottom: 15px;
}

.Help_user a {
	color: #fff;
	text-decoration: none;
}

.Help_user a:hover{
	color:#d9edf7;
	text-decoration: underline;
}

.Help_user p{
	text-align: center;
	color: #fff;
}

.text_registration p{
	font-size: 16px;
	text-align: center;
	color:#fff;
	font-family: 'Roboto Medium', arial;
}

.help-block{;
	color:#d9edf7;
	margin-bottom: 10px;
}

.registrationForm{
	padding-bottom: 30px;
}

.copy{
	color:#fff;
	margin-top: 150px;
	font-family: 'Roboto Medium', arial;
	font-size: 14px;
}