{% load staticfiles %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>SketchPad-login</title>
    <link rel="stylesheet" type="text/css" href="{% static "loginsys/style/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static 'loginsys/style/main.css' %}">
</head>
<body>
<div class="container-fluid">
<div class="row">
<div class="wp">
    <div class="col-md-4"></div>
<div class="col-md-4">
<div class="logo">
    <img src="{% static 'loginsys/img/logo.png' %}" />
    <h2>SketchPad</h2>
</div>
<div class="form-auth">
     <form class="form-horizontal" action="/auth/login/" method="post">
        {% csrf_token %}
      <div class="form-group">
          <h3>Email</h3>
          <input type="text" class="form-control" id="username" name="username" placeholder="Login">
      </div>
      <div class="form-group">
            <h3>Password</h3>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
      </div>
        {% if login_error %}
            <label class="error">{{ login_error }}</label>
        {% endif %}
      <div class="form-group">
        <div class="login_btn">
          <input type="submit" class="btn btn-default" id="auth-btn" value="Sign in">
        </div>
      </div>
    </form>
<div class="form-auth-wp"></div>
</div>

</div>
<div class="col-md-4"></div>
</div>


</div>

</div>


</body>
</html>