@import url(http://allfont.ru/allfont.css?fonts=coolvetica-regular);
@import url(http://allfont.ru/allfont.css?fonts=roboto-light);
@import url(http://allfont.ru/allfont.css?fonts=roboto-bold);
@import url(http://allfont.ru/allfont.css?fonts=roboto-regular);

*{margin: 0;padding: 0;
	 -webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
			box-sizing: border-box;
}

body{
	background: #f9f9f9;
}

#mask{
	position: fixed;
	height: 100%;
	width: 100%;
	background: #000;
	z-index: 998;
	opacity: 0.8;
}

.col-md-1{
	height: 661px;
	background: #393d46;
}

#navTop{
	height: 45px;
	background: #383838;
}

#mainMenu{
	padding-left: 28px;
	position: relative;
}

#menu{
	width: 23%;
	z-index: 999;
	position: absolute;
	height: 661px;
	background: #393d46;
}

#weekDay{
	height: 35px;
	background: #d5d5d5;
}

.main-menu-hide a,
.settings-menu a{
	display: block;
	vertical-align: middle;
	width: 50px;
	height: 52px;
	background: url(../img/icon.png)no-repeat top;
	border-radius: 50% 50%;
	margin-bottom: 5px;
}

.main-menu-hide a.mh-add{
	background-position:0 0px;
}
.main-menu-hide a.mh-edit{
	background-position:0 -55px;
}
.main-menu-hide a.mh-delete{
	background-position:0 -108px;
}
.settings-menu{
	position: absolute;
	bottom: 0;
}

.settings-menu a.mh-settings{
	background-position:0 -164px;
}

.settings-menu a.mh-open{
	background-position:0 -217px;
}

.nt-logo h5{
	float: right;
	font-size: 12px;
	color: #fff;
}

.logo img{
	margin-top: 5px;
	float: left;
}

.logo h2{
	display: inline-block;
	padding-left: 10px;
	padding-top: 5px;	
	font-size: 28px;
	font-weight: normal;
	color:#fff;
	font-family: 'Coolvetica-Regular', arial;
}

.calendar-menu{
	position: relative;
	top:-5px;
	left: -3px;
	display: inline-block;
}
.calendar-menu a{
	display: inline-block;
	width: 35px;
	height: 30px;
	background: url(../img/calendar-sprite.png)no-repeat center;
}

.calendar-menu a.calendar-prev{
	background-position: 8px -7px;
}

.calendar-menu a.calendar{
	background-position: -28px -7px;
}

.calendar-menu a.calendar-next{
	background-position: -62px -7px;
}

.s-search{
	position: relative;
	margin-top:10px;
	padding-left: 15px;
}

.search{
	width: 240px;
	height: 25px;
	margin-top: 10px;
	background: #fff;
	float: right;
	color: #9699a2;
	border: 1px solid #e7e7e7;
	border-radius: 10px 10px;
	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.06);
	   -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.06);
		 -o-box-shadow: 0px 1px 2px rgba(0,0,0,0.06);
		-ms-box-shadow: 0px 1px 2px rgba(0,0,0,0.06);
		    box-shadow: 0px 1px 2px rgba(0,0,0,0.06);
}

.search input[type="submit"] {
	width: 30px;
	height:25px;
	cursor: pointer;
	border: none;
	margin-left: 5px;
	margin-top: -1px;
	background: url(../img/search-icon.png)no-repeat center;
}

.search input[type="text"] {
	width: 190px;
	height: 24px;
	float: right;
	margin-right: 10px;
	border: none;
	outline: none;
	-webkit-appearance: none; /* Убираем рамку в Chrome и Safari */
	background: #fff;
	font-size: 16px;
	font-family: 'Roboto Light', arial;
	font-weight: normal;
    vertical-align: middle;
}


#date{
	height: 30px;
	background: #d5d5d5;
}
.date-row{
	height: 30px;
	text-align: center;
	position: relative;
}

.date-row h4{
	font-family: 'Roboto Bold', arial;
	margin-top:6px;
	font-size: 13px;
	font-weight: normal;
}

.arrow-prev{
	position: absolute;
	top:7px;
	left:15px;
}

.arrow-next{
	position: absolute;
	top:7px;
	right: 15px;
}


.edit,
.delete{
	display: none;
}

.note-row{
	height: 100%;
	border-right: 1px dashed #ccc;
}

.note{
	width: 100%;
	height: 100%;
	background: #ececec;
	margin: 0 auto;
	margin-top: 15px;
	border-left:5px solid #9b9b9b;
	-webkit-box-shadow:0 3px 6px rgba(0,0,0,0.25);
	-moz-box-shadow:0 3px 6px rgba(0,0,0,0.25);
	box-shadow: 0 3px 6px rgba(0,0,0,0.25);
	display: inline-block;
}

#notes_6,
#notes_7{
	display: none;
}

.footer-note h5 {
	color: #2b2b2b;
	font-family: 'Roboto Light', arial;
	font-size: 14px;
	font-weight: normal;
	margin-left: 5px;
	margin-bottom: 5px;
	display: inline-block;
}

.footer-note a{
	display: inline-block;
	float: right;
	margin-right: 5px;
}

.footer-note input[type="checkbox"]{
	float: right;
	margin-top:5px;
	border: 1px solid #0f0f0f;
	display: none;
}

.footer-note input[type="checkbox"]:checked + .check{
	width: 16px;
	height: 16px;
	display: block;
	background: url("../img/check.png")no-repeat;
	background-position: 0 -18px;
	float: right;
	margin-right: 5px;
	margin-bottom: 5px;
}

.checkbox{
	cursor: pointer;
}

.check{
	width: 16px;
	height: 16px;
	display: block;
	background: url("../img/check.png")no-repeat;
	background-position: 0 0;
	float: right;
	margin-right: 5px;
	margin-bottom: 5px;
}

#prior{
	display: none;
 }



.n-title{
	height: 40px;
	background: #d5d5d5;
}

.n-title h4{
	font-family: 'Roboto Light', arial;
	font-size: 16px;
	float: left;
	margin-top: 9px;
	margin-left: 10px;
	color: #2b2b2b;
	font-weight: normal;
}

.n-title h5{
	font-family: 'Roboto Light', arial;
	font-size: 14px;
	float: right;
	margin-top: 10px;
	margin-right: 10px;
	color: #2b2b2b;
	font-weight: normal;
}

.n-body{
	padding: 5px 5px;
}

.n-body h4{
	color: #2b2b2b;
	font-family: 'Roboto Light', arial;
	font-size: 16px;
	margin-top: 5px;
	margin-left: 5px;
	font-weight: normal;
}

.n-body p {
	color: #2b2b2b;
	font-family: 'Roboto Light', arial;
	font-size: 14px;
	margin-top: 5px;
	margin-left: 10px;
	margin-bottom: 30px;
}


.h-menu{
	width: 100%;
	height: 32%;
	background: #454955;
	text-align: center;
}

.h-menu img{
	margin-top: 10px;
}

.h-menu h2{
	color: #4db6ac;
	font-weight: normal;
	font-size: 24px;
	font-family: 'Roboto Bold', arial;
	margin-top: 5px;
}
.h-menu a{
	display: inline-block;
	vertical-align: middle;
	width: 50px;
	height: 52px;
	margin-top: 5px;
	border-radius: 50% 50%;
	background: url(../img/hm-icon.png);
}

.h-menu a.h-settings {
	background-position:-4px 0px;
}


.h-menu a.h-exit{
	background-position:50px 0px;
}

.h-body ul{	
	padding: 0;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.h-body li {
	padding-left: 10px;

}


.h-body li+li{
	border-top: 2px dashed #434852;
}


.h-body a {
	display: inline-block;
	color: #6a6c73;
	text-decoration: none;
	font-family: 'Roboto Bold', arial;
	font-size:16px;
	margin-left: 10px;
	margin-top: 20px;
}

.h-body a:hover{
	color: #4db6ac;
	text-decoration:none;
	font-family: 'Roboto Bold', arial;
}

.img-menu{
	width: 40px;
	height: 40px;
	border-radius: 50% 50%;
	display: inline-block;
	position: relative;
	top:-12px;
	left: 0;
}

#icon1{
	background: url(../img/m-icon.png)no-repeat;
}

#icon2{
	background: url(../img/m-icon.png)no-repeat;
	background-position:0 -40px;
}

#icon3{
	background: url(../img/m-icon.png)no-repeat;
	background-position:0 -82px;
}

#icon4{
	background: url(../img/m-icon.png)no-repeat;
	background-position:0 -127px;
}

#icon5{
	background: url(../img/m-icon.png)no-repeat;
	background-position:0 -169px;
}
#sort-btn:hover,
#m-delete:hover{
	color: #f06292;
}

#ins-category{
	list-style: url(../img/ins-arrow.png);
	margin:0;
	padding: 0;
	position: relative;
	top:-15px;
	left: 70px;
}

#ins-category li{
	padding: 0;
	margin: 0;
}


#ins-category a{
	margin: 0;
	padding: 0;
	font-size: 14px;
}

#ins-category a:hover{
	color:#3a8c84;
}

#ins-category li+li{
	border: none;
}

.addForm {
	margin-top: 10px;

}
.addForm h2{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 30px;
	font-family: 'Roboto Regular', arial;
	font-weight: normal;
}

.addForm h4{
	font-weight: normal;
	margin-bottom: 5px;
	font-family: 'Roboto Bold', arial;
}
.centerButton{
	text-align: right;
	margin: 0 auto;
}

.note_desc{
	resize: none;
}

.avatar img{
	width: 35%;
	height: 100px;
	border: 2px solid #828ba3;
	border-radius: 60%;
	box-shadow: 0 5px 10px rgba(0,0,0,0.5);
	object-fit: cover;
}

#small-avatar img{
	display: block;
	width: 55px;
	height: 55px;
	border-radius: 50% 50%;
	margin-top: 30px;
	margin-bottom: 25px;
	border:none;
}

.profile_ava img{
	width: 300px;
	height: 300px;
	object-fit: cover;
}

#profileBody{
	height:100vh;
	background:url(../img/profilebg.png) top center no-repeat;
	background-size: cover;
	color:#fff;
}
.profileForm{
	width: 100%;
	height: 100%;
	padding: 20px 35px;
	text-align: center;
	margin-top: 20%;
	background: rgba(255,255,255,0.1);
	border-radius: 20px 20px;
}

.profileImage{
	text-align: center;
}

.profileImage img{
	width: 55%;
	height: 160px;
	margin-top: 10px;
	border-radius: 50% 50%;
	text-align: center;
	object-fit: cover;
}

.profileImage h3{
	margin-top: 5px;
	margin-bottom: 10px;
	color:#fff;
	font-size: 16px;
	font-weight: normal;
	font-family: 'Roboto Bold', arial;
}

.profileTitle{
	width: 100%;
}

.profileTitle h3{
	color:#fff;
	font-size: 24px;
	font-weight: normal;
	font-family: 'Roboto Bold', arial;
}


.profileBody {
	z-index: 9999;
}

.profileBody h3{
	font-size: 14px;
	font-weight: normal;
	font-family: 'Roboto Bold', arial;
	margin-bottom: 10px;
}

.profileBody h3 b {
	font-family: 'Roboto Light', arial;
	font-weight: normal;
}
.profileBody img{
	width: 45px;
	height: 45px;
	opacity:0.5;
	transition: 0.5s;
}
.profileBody img:hover{
	transition: 0.9s;
	opacity: 1;
}
#profileEdit{
	margin-top: 10%;
	padding: 10px 15px;
	background: rgba(255,255,255,0.2);
	border-radius: 10px 10px;
}

#profileEdit h2{
	margin-bottom: 10px;
	text-align: center;

}

#profileEdit a {
	color:#fff;
}
.profileBtn{
	display: block;
	margin:0 auto;
	margin-top: 20px;
	width: 120px;
	height: 40px;
	background: #122e53;
	border: 2px solid #628df0;
	font-family: 'Roboto Bold', arial;
	padding-top: 3px;
	font-size: 14px;
	cursor: pointer;
	border-radius: 4px 4px;
	color:#e1e1e1;
}