{% extends "sketch/base.html" %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                 <div id="fomrsAdd">
       <form method="POST" action="/user/add/">{% csrf_token %}
           <h4>Название заметки</h4>
            <input type="text" name="notes_title" class="form-control" placeholder="Text input">
           <h4>Текст заметки</h4>
            <textarea class="form-control" name="notes_description" rows="3"></textarea>
           <h4>Укажите время</h4>
           <input type="text" class="form-control" name="notes_time"/>
           <h4>Выберети дату</h4>
            <input type="text" class="form-control" name="notes_date" />
           <h4>Приоритет замeтки</h4>
            <select class="form-control" name="notes_priority" id="prioritySelect">
              <option value="0">Обычный</option>
              <option value="1">Средний</option>
              <option value="2">Повышеный</option>
              <option value="3">Высокий</option>
            </select>

           <button type="submit" class="btn btn-primary btnAdd">Submit</button>
       </form>
    </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>

{% endblock %}