{% load staticfiles %}

<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>SkethcPad</title>
	<link rel="stylesheet" type="text/css" href="{% static "sketch/style/style-note.css"%}">
	<link rel="stylesheet" type="text/css" href="{% static "sketch/style/bootstrap.min.css"%}">
	<link rel="stylesheet" type="text/css" href="{% static "sketch/style/col-md-5.css"%}">
    <link rel="shortcut icon" type="text/gif" href="{% static "sketch/img/icon.ico" %}">
</head>
<body>
	<div class="container-fluid">
	<div id="mask"></div>
		<div class="leftNav">
			<div class="row">
				<div class="col-md-1" id="mainMenu">
					<div class="avatars">
						<a href="#" class="avatar">&nbsp;</a>
					</div>
					<div class="main-menu-hide">
						<a href="{% url 'add' %}" class="mh-add">&nbsp;</a>
						<a href="#" class="mh-edit" id="m-edit">&nbsp;</a>
						<a href="#" class="mh-delete" id="m-delete">&nbsp;</a>
					</div>
					<div class="settings-menu">
						<a href="#" class="mh-settings">&nbsp;</a>
						<a href="#" class="mh-open" id="open">&nbsp;</a>
					</div>
				</div>
				<div id="menu">
					<div class="h-menu">
						<img src="{% static "sketch/img/avatars.png" %}" alt="you avatar"/>
						<h2>{{username}}</h2>
						<a href="#" class="h-settings">&nbsp;</a>
						<a href="#" class="h-exit">&nbsp;</a>
					</div>
					<div class="h-body">
						<ul>
							<li>
								<span class="img-menu" id="icon1">&nbsp;</span>
								<a href="{% url 'add' %}">Добавить запись</a>
							</li>
							<li>
								<span class="img-menu" id="icon2">&nbsp;</span>
								<a href="/edit/{{ note.id }}">Редактировать запись</a>
							</li>
							<li>
								<span class="img-menu" id="icon3">&nbsp;</span>
								<a href="#" id="delete-btn">Удалить запись</a></li>
							<li>
								<span class="img-menu" id="icon4">&nbsp;</span>
								<a href="#">Категории</a>
								<ul id="ins-category">
									<li><a href="#">Хобби</a></li>
									<li><a href="#">Учеба</a></li>
									<li><a href="#">Работа</a></li>
								</ul>

							</li>
							<li>
								<span class="img-menu" id="icon5">&nbsp;</span>
								<a href="#" id="sort-btn">Сортировка</a>
							</li>
						</ul>
					</div>
				</div>
				<div id="wp clearfix">
					<div class="col-md-11" id="navTop">

					<div class="row-fluid">
						<div class="col-md-6" id="nt-logo clearfix">
							<div class="logo">
									<img src="{% static "sketch/img/icon-logo.png" %}" alt="SketchPad-Logo"/>
									<h2>SketchPad</h2>
									<div class="calendar-menu">
										<a href="#" class="calendar-prev">&nbsp;</a>
										<a href="#" class='calendar'>&nbsp;</a>
										<a href="#" class="calendar-next">&nbsp;</a>
									</div>

							</div>
						</div>
						<div class="col-md-6">
							<div class="search clearfix">
							<form action="#" method="#" class="s-search">
								<input type="text" placeholder="Search...">
								<input value="" type="submit">
							</form>
							</div>
						</div>
					</div>
				</div>
                {% block content %}
                {% endblock %}
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">

	</script>
	<script src="{% static "sketch/js/menu.js" %}"></script>
	<script src="{% static "sketch/js/bootstrap.min.js"%}"></script>
</body>
</html>