{% load staticfiles %}

<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>SkethcPad</title>
	<link rel="stylesheet" type="text/css" href="{% static "sketch/style/style-note.css"%}">
	<link rel="stylesheet" type="text/css" href="{% static "sketch/style/bootstrap.min.css"%}">
	<link rel="stylesheet" type="text/css" href="{% static "sketch/style/col-md-5.css"%}">
    <link rel="shortcut icon" type="text/gif" href="{% static "sketch/img/icon.ico" %}">


</head>
<body>
	<div class="container-fluid main">
	<div id="mask"></div>
		<div id="leftNav">
			<div class="row">
                <div id="fixed-block">
                    <div class="col-md-1" id="mainMenu">
					<div class="avatar" id="small-avatar">
						<a href="{% url "profile" %}"><img src='{{ user.userprofile.avatar.url }}'></a>
					</div>
					<div class="main-menu-hide">
						<a href="{% url 'add' %}" class="mh-add">&nbsp;</a>
						<a href="#" class="mh-edit" id="m-edit">&nbsp;</a>
						<a href="#" class="mh-delete" id="m-delete">&nbsp;</a>
					</div>
					<div class="settings-menu">
						<a href="{% url 'profile' %}" class="mh-settings">&nbsp;</a>
						<a href="#" class="mh-open" id="open">&nbsp;</a>
					</div>
				</div>
				<div id="menu">
					<div class="h-menu">
                        <div class="avatar">
                                <img src='{{ user.userprofile.avatar.url }}'>
                        </div>

						<h2>{{username}}</h2>
						<a href="{% url 'profile' %}" class="h-settings">&nbsp;</a>
						<a href="{% url 'auth_logout' %}" class="h-exit">&nbsp;</a>
					</div>
					<div class="h-body">
						<ul>
							<li>
								<span class="img-menu" id="icon1">&nbsp;</span>
								<a href="{% url 'add' %}">Добавить запись</a>
							</li>
							<li>
								<span class="img-menu" id="icon2">&nbsp;</span>
								<a href="#" id="m-edit">Редактировать запись</a>
							</li>
							<li>
								<span class="img-menu" id="icon3">&nbsp;</span>
								<a href="#" id="m-delete">Удалить запись</a></li>
							<li>
								<span class="img-menu" id="icon5">&nbsp;</span>
								<a href="#" id="sort-btn">Сортировка</a>
                                <label class="checkbox">
                                  <input type="checkbox" id="inlineCheckbox1" name="inlineCheckbox1" value="0"> Обычный
                                </label>
                                <label class="checkbox">
                                  <input type="checkbox" id="inlineCheckbox2" name="inlineCheckbox2" value="1"> Cредний
                                </label>
                                <label class="checkbox">
                                  <input type="checkbox"  id="inlineCheckbox3" name="inlineCheckbox3" value="2"> Повышенный
                                </label>

                                <label class="checkbox">
                                  <input type="checkbox"  id="inlineCheckbox4" name="inlineCheckbox4" value="3"> Высокий
                                </label>
                            </li>
						</ul>
					</div>
				</div>
            </div>

				<div id="wp clearfix">
					<div class="col-md-11  col-md-offset-1" id="navTop">
					<div class="row-fluid">
						<div class="col-md-6" id="nt-logo clearfix">
							<div class="logo">
									<a href="/user/note"><img src="{% static "sketch/img/icon-logo.png" %}" alt="SketchPad-Logo"/>
                                <h2>SketchPad</h2></a>
									<div class="calendar-menu">
										<a href="#" class="calendar-prev">&nbsp;</a>
										<a href="#" class='calendar'>&nbsp;</a>
										<a href="#" class="calendar-next">&nbsp;</a>
									</div>

							</div>
						</div>
						<div class="col-md-6">
							<div class="search clearfix">
							<form action="#" method="POST">
								<input type="text" placeholder="Search...">
								<input value="" type="submit">
							</form>
							</div>
						</div>
					</div>
				</div>
                {% block content %}
                {% endblock %}
				</div>
			</div>
		</div>
	</div>
    <audio id=audio src="{% static 'sketch/audio/sounds1.mp3' %}"></audio>

	<script type="text/javascript">



    </script>

	<script src="{% static "sketch/js/sort.js" %}"></script>
    <script src="{% static "sketch/js/menu.js" %}"></script>
	<script src="{% static "sketch/js/bootstrap.min.js"%}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="{% static "sketch/js/jquery.cookie.js" %}"></script>
    <script src="{% static 'sketch/js/holiday_popup.js' %}"></script>
    <script src="{% static 'sketch/js/jquery.nicescroll.js' %}"></script>
    <script src="{% static 'sketch/js/scroll.js' %}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>