{% extends "sketch/base.html" %}


{% block content %}
    <div id="fomrsAdd">
       <form method="POST" action="/update/{{ note.id }}">{% csrf_token %}
           <h4>Название заметки</h4>
            <input type="text" name="notes_title" class="form-control" value="{{ note.notes_title }}" placeholder="{{ note.notes_title }}">
           <h4>Текст заметки</h4>
            <textarea class="form-control" name="notes_description" rows="3">{{ note.notes_description }}</textarea>
           <h4>Выберети дату</h4>
           <input type="date"  class="form-control" name="notes_date" value="{{ note.notes_date }}">
           <h4>Приоритет замeтки</h4>
           <select class="form-control" name="notes_priority">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </select>

           <button type="submit" class="btn btn-primary btnAdd">Update</button>
       </form>
    </div>
{% endblock %}