{% extends "sketch/base.html" %}
{% load dateGen %}
{% load staticfiles %}


{% block content %}
    <div id="wrapper ">
        <div class="col-md-11 col-md-offset-1 " id="date">
					<div class="row-fluid">
                        {% for note in date %}
                         <div class="col-md-5 date-row">
                             <h4 id="date_check">{{ date|index:forloop.counter0 }}</h4>
                         </div>
                     {% endfor %}
                        <a href="#" id="ar-prev"><img src="{% static "sketch/img/arrow-prev.png" %}" class="arrow-prev" alt="arrow-prev"></a>
                        <a href="#" id="ar-next"><img src="{% static "sketch/img/arrow-next.png" %}" class="arrow-next" alt="arrow-next"></a>
					</div>
				</div>
					<div class="col-md-11 col-md-offset-1" id="notes_body">
						<div class="row" id="scroll">
                          <div id="msg_pop">
                              <div class="msg">
                                  <div id="holiday_title">
                                      <img src="{% static "sketch/img/alert_icon.png" %}" id="alert_icon">
                                      <h3>Напоминание</h3>
                                      <img src="{% static  "sketch/img/alert_close.png" %}" id="msg_event_close" class="msg_close" onclick="document.getElementById('msg_pop').style.display='none'; return false;" />
                                  </div>
                                  <div id="event_body">
                                        <h4>Cегодня : {{ holiday }}</h4>
                                        <h5>{{ holiday.holidays_description}}</h5>
                                   </div>
                              </div>
                          </div>
                        <div id="event_pop">
                           <div id="event_title">
                               <img src="{% static "sketch/img/alert_icon.png" %}" id="alert_icon">
                               <h3>Оповещание</h3>
                               <img src="{% static  "sketch/img/alert_close.png" %}" id="msg_event_close" class="msg_close" onclick="document.getElementById('event_pop').style.display='none'; return false;">
                           </div>

                            <div id="event_body">
                                    <h3>Название: {{ dayCheck.notes_title }}</h3>
                                    <h3>Описание: {{ dayCheck.notes_description }}</h3>
                                    <h3>Когда: {{ dayCheck.notes_date|date:"Y-m-d"}} в {{ dayCheck.notes_time|date:"H:i" }}</h3>
                            </div>
                        </div>

                            <div class="col-md-5 note-row" id="notes_1">
                            {% for note in notes_1%}
                             <div class="note">
                                    <div class="n-title clearfix">
                                        <h4>Время</h4>
                                        <h5 id="dateAlert">{{ note.notes_time|date:"H:i"  }}</h5>
                                    </div>
                                    <div class="n-body">
                                        <input type="text" id="prior" value="{{ note.notes_priority }}" />
                                        <h4>Описание</h4>
                                        <p>{{ note.notes_description }}</p>
                                         <div class = "footer-note done">
                                             <label class="checkbox">
                                                 <h5>Выполнено</h5>
                                                 <input type="checkbox">
                                                 <span class="check"></span>
                                             </label>
                                        </div>

                                        <div class = "footer-note edit">
                                                <h5>Редакрировать</h5>
                                                <a href="/user/edit/{{ note.id }}"><img src="{% static "/sketch/img/edit.png" %}"></a>
                                        </div>

                                        <div class = "footer-note delete">
                                                <h5>Удалить</h5>
                                                <a href="/user/delete/{{ note.id }}"><img src="{% static "/sketch/img/delete.png" %}"></a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            </div>

							<div class="col-md-5 note-row" id="notes_2">
                            {% for note in notes_2%}
                             <div class="note">
                                    <div class="n-title clearfix">
                                        <h4>Время</h4>
                                        <h5 id="dateAlert">{{ note.notes_time|date:"H:i"  }}</h5>
                                    </div>
                                    <div class="n-body">
                                        <input type="text" id="prior" value="{{ note.notes_priority }}" />
                                        <h4>Описание</h4>
                                        <p>{{ note.notes_description }}</p>
                                         <div class = "footer-note done">
                                             <label class="checkbox">
                                                 <h5>Выполнено</h5>
                                                 <input type="checkbox">
                                                 <span class="check"></span>
                                             </label>
                                        </div>

                                        <div class = "footer-note edit">
                                                <h5>Редакрировать</h5>
                                                <a href="/user/edit/{{ note.id }}"><img src="{% static "/sketch/img/edit.png" %}"></a>
                                        </div>

                                        <div class = "footer-note delete">
                                                <h5>Удалить</h5>
                                                <a href="/user/delete/{{ note.id }}"><img src="{% static "/sketch/img/delete.png" %}"></a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            </div>

                            <div class="col-md-5 note-row" id="notes_3">
                            {% for note in notes_3%}
                             <div class="note">
                                    <div class="n-title clearfix">
                                        <h4>Время</h4>
                                        <h5>{{ note.notes_time|date:"H:i"  }}</h5>
                                    </div>
                                    <div class="n-body">
                                        <input type="text" id="prior" value="{{ note.notes_priority }}" />
                                        <h4>Описание</h4>
                                        <p>{{ note.notes_description }}</p>
                                         <div class = "footer-note done">
                                             <label class="checkbox">
                                                 <h5>Выполнено</h5>
                                                 <input type="checkbox">
                                                 <span class="check"></span>
                                             </label>
                                        </div>

                                        <div class = "footer-note edit">
                                                <h5>Редакрировать</h5>
                                                <a href="/user/edit/{{ note.id }}"><img src="{% static "/sketch/img/edit.png" %}"></a>
                                        </div>

                                        <div class = "footer-note delete">
                                                <h5>Удалить</h5>
                                                <a href="/user/delete/{{ note.id }}"><img src="{% static "/sketch/img/delete.png" %}"></a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            </div>

							<div class="col-md-5 note-row" id="notes_4">
                            {% for note in notes_4%}
                             <div class="note">
                                    <div class="n-title clearfix">
                                        <h4>Время</h4>
                                        <h5>{{ note.notes_time|date:"H:i"  }}</h5>
                                    </div>
                                    <div class="n-body">
                                        <input type="text" id="prior" value="{{ note.notes_priority }}" />
                                        <h4>Описание</h4>
                                        <p>{{ note.notes_description }}</p>
                                         <div class = "footer-note done">
                                             <label class="checkbox">
                                                 <h5>Выполнено</h5>
                                                 <input type="checkbox">
                                                 <span class="check"></span>
                                             </label>
                                        </div>

                                        <div class = "footer-note edit">
                                                <h5>Редакрировать</h5>
                                                <a href="/user/edit/{{ note.id }}"><img src="{% static "/sketch/img/edit.png" %}"></a>
                                        </div>

                                        <div class = "footer-note delete">
                                                <h5>Удалить</h5>
                                                <a href="/user/delete/{{ note.id }}"><img src="{% static "/sketch/img/delete.png" %}"></a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            </div>

                            <div class="col-md-5 note-row" id="notes_5">
                            {% for note in notes_5%}
                             <div class="note">
                                    <div class="n-title clearfix">
                                        <h4>Время</h4>
                                        <h5>{{ note.notes_time|date:"H:i"  }}</h5>
                                    </div>
                                    <div class="n-body">
                                        <input type="text" id="prior" value="{{ note.notes_priority }}" />
                                        <h4>Описание</h4>
                                        <p>{{ note.notes_description }}</p>
                                         <div class = "footer-note done">
                                             <label class="checkbox">
                                                 <h5>Выполнено</h5>
                                                 <input type="checkbox">
                                                 <span class="check"></span>
                                             </label>
                                        </div>

                                        <div class = "footer-note edit">
                                                <h5>Редакрировать</h5>
                                                <a href="/user/edit/{{ note.id }}"><img src="{% static "/sketch/img/edit.png" %}"></a>
                                        </div>

                                        <div class = "footer-note delete">
                                                <h5>Удалить</h5>
                                                <a href="/user/delete/{{ note.id }}"><img src="{% static "/sketch/img/delete.png" %}"></a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            </div>

							<div class="col-md-5 note-row" id="notes_6">
                            {% for note in notes_6%}
                             <div class="note">
                                    <div class="n-title clearfix">
                                        <h4>Время</h4>
                                        <h5>{{ note.notes_time|date:"H:i"  }}</h5>
                                    </div>
                                    <div class="n-body">
                                        <input type="text" id="prior" value="{{ note.notes_priority }}" />
                                        <h4>Описание</h4>
                                        <p>{{ note.notes_description }}</p>
                                         <div class = "footer-note done">
                                             <label class="checkbox">
                                                 <h5>Выполнено</h5>
                                                 <input type="checkbox">
                                                 <span class="check"></span>
                                             </label>
                                        </div>

                                        <div class = "footer-note edit">
                                                <h5>Редакрировать</h5>
                                                <a href="/user/edit/{{ note.id }}"><img src="{% static "/sketch/img/edit.png" %}"></a>
                                        </div>

                                        <div class = "footer-note delete">
                                                <h5>Удалить</h5>
                                                <a href="/user/delete/{{ note.id }}"><img src="{% static "/sketch/img/delete.png" %}"></a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            </div>

                            <div class="col-md-5 note-row" id="notes_7">
                            {% for note in notes_7%}
                             <div class="note">
                                    <div class="n-title clearfix">
                                        <h4>Время</h4>
                                        <h5>{{ note.notes_time|date:"H:i"  }}</h5>
                                    </div>
                                    <div class="n-body">
                                        <input type="text" id="prior" value="{{ note.notes_priority }}" />
                                        <h4>Описание</h4>
                                        <p>{{ note.notes_description }}</p>
                                         <div class = "footer-note done">
                                             <label class="checkbox">
                                                 <h5>Выполнено</h5>
                                                 <input type="checkbox">
                                                 <span class="check"></span>
                                             </label>
                                        </div>

                                        <div class = "footer-note edit">
                                                <h5>Редакрировать</h5>
                                                <a href="/user/edit/{{ note.id }}"><img src="{% static "/sketch/img/edit.png" %}"></a>
                                        </div>

                                        <div class = "footer-note delete">
                                                <h5>Удалить</h5>
                                                <a href="/user/delete/{{ note.id }}"><img src="{% static "/sketch/img/delete.png" %}"></a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            </div>
                        </div>
					</div>
    </div>
{% endblock %}