{% extends "sketch/base.html" %}
{% load dateGen %}
{% load staticfiles %}


{% block content %}
	<div class="col-md-11" id="date">
					<div class="row-fluid">
                        {% for note in date %}
                         <div class="col-md-5 date-row">
                             <h4>{{ date|index:forloop.counter0 }}</h4>
                         </div>
                     {% endfor %}
                        <a href="#" id="ar-prev"><img src="{% static "sketch/img/arrow-prev.png" %}" class="arrow-prev" alt="arrow-prev"></a>
                        <a href="#" id="ar-next"><img src="{% static "sketch/img/arrow-next.png" %}" class="arrow-next" alt="arrow-next"></a>
					</div>
				</div>
					<div class="col-md-11" id="body">
						<div class="row">
                            <div class="col-md-5 note-row" id="notes_1">
                            {% for note in notes_1%}
                             <div class="note">
                                    <div class="n-title clearfix">
                                        <h4>Время</h4>
                                        <h5>{{ note.notes_time|date:"H:i"  }}</h5>
                                    </div>
                                    <div class="n-body">
                                        <input type="text" id="prior" value="{{ note.notes_priority }}" />
                                        <h4>Описание</h4>
                                        <p>{{ note.notes_description }}</p>
                                         <div class = "footer-note done">
                                             <label class="checkbox">
                                                 <h5>Выполнено</h5>
                                                 <input type="checkbox">
                                                 <span class="check"></span>
                                             </label>
                                        </div>

                                        <div class = "footer-note edit">
                                                <h5>Редакрировать</h5>
                                                <a href="/user/edit/{{ note.id }}"><img src="{% static "/sketch/img/edit.png" %}"></a>
                                        </div>

                                        <div class = "footer-note delete">
                                                <h5>Удалить</h5>
                                                <a href="/user/delete/{{ note.id }}"><img src="{% static "/sketch/img/delete.png" %}"></a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            </div>

							<div class="col-md-5 note-row" id="notes_2">
                            {% for note in notes_2%}
                             <div class="note">
                                    <div class="n-title clearfix">
                                        <h4>Время</h4>
                                        <h5>{{ note.notes_time|date:"H:i"  }}</h5>
                                    </div>
                                    <div class="n-body">
                                        <input type="text" id="prior" value="{{ note.notes_priority }}" />
                                        <h4>Описание</h4>
                                        <p>{{ note.notes_description }}</p>
                                         <div class = "footer-note done">
                                             <label class="checkbox">
                                                 <h5>Выполнено</h5>
                                                 <input type="checkbox">
                                                 <span class="check"></span>
                                             </label>
                                        </div>

                                        <div class = "footer-note edit">
                                                <h5>Редакрировать</h5>
                                                <a href="/user/edit/{{ note.id }}"><img src="{% static "/sketch/img/edit.png" %}"></a>
                                        </div>

                                        <div class = "footer-note delete">
                                                <h5>Удалить</h5>
                                                <a href="/user/delete/{{ note.id }}"><img src="{% static "/sketch/img/delete.png" %}"></a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            </div>

                            <div class="col-md-5 note-row" id="notes_3">
                            {% for note in notes_3%}
                             <div class="note">
                                    <div class="n-title clearfix">
                                        <h4>Время</h4>
                                        <h5>{{ note.notes_time|date:"H:i"  }}</h5>
                                    </div>
                                    <div class="n-body">
                                        <input type="text" id="prior" value="{{ note.notes_priority }}" />
                                        <h4>Описание</h4>
                                        <p>{{ note.notes_description }}</p>
                                         <div class = "footer-note done">
                                             <label class="checkbox">
                                                 <h5>Выполнено</h5>
                                                 <input type="checkbox">
                                                 <span class="check"></span>
                                             </label>
                                        </div>

                                        <div class = "footer-note edit">
                                                <h5>Редакрировать</h5>
                                                <a href="/user/edit/{{ note.id }}"><img src="{% static "/sketch/img/edit.png" %}"></a>
                                        </div>

                                        <div class = "footer-note delete">
                                                <h5>Удалить</h5>
                                                <a href="/user/delete/{{ note.id }}"><img src="{% static "/sketch/img/delete.png" %}"></a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            </div>

							<div class="col-md-5 note-row" id="notes_4">
                            {% for note in notes_4%}
                             <div class="note">
                                    <div class="n-title clearfix">
                                        <h4>Время</h4>
                                        <h5>{{ note.notes_time|date:"H:i"  }}</h5>
                                    </div>
                                    <div class="n-body">
                                        <input type="text" id="prior" value="{{ note.notes_priority }}" />
                                        <h4>Описание</h4>
                                        <p>{{ note.notes_description }}</p>
                                         <div class = "footer-note done">
                                             <label class="checkbox">
                                                 <h5>Выполнено</h5>
                                                 <input type="checkbox">
                                                 <span class="check"></span>
                                             </label>
                                        </div>

                                        <div class = "footer-note edit">
                                                <h5>Редакрировать</h5>
                                                <a href="/user/edit/{{ note.id }}"><img src="{% static "/sketch/img/edit.png" %}"></a>
                                        </div>

                                        <div class = "footer-note delete">
                                                <h5>Удалить</h5>
                                                <a href="/user/delete/{{ note.id }}"><img src="{% static "/sketch/img/delete.png" %}"></a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            </div>

                            <div class="col-md-5 note-row" id="notes_5">
                            {% for note in notes_5%}
                             <div class="note">
                                    <div class="n-title clearfix">
                                        <h4>Время</h4>
                                        <h5>{{ note.notes_time|date:"H:i"  }}</h5>
                                    </div>
                                    <div class="n-body">
                                        <input type="text" id="prior" value="{{ note.notes_priority }}" />
                                        <h4>Описание</h4>
                                        <p>{{ note.notes_description }}</p>
                                         <div class = "footer-note done">
                                             <label class="checkbox">
                                                 <h5>Выполнено</h5>
                                                 <input type="checkbox">
                                                 <span class="check"></span>
                                             </label>
                                        </div>

                                        <div class = "footer-note edit">
                                                <h5>Редакрировать</h5>
                                                <a href="/user/edit/{{ note.id }}"><img src="{% static "/sketch/img/edit.png" %}"></a>
                                        </div>

                                        <div class = "footer-note delete">
                                                <h5>Удалить</h5>
                                                <a href="/user/delete/{{ note.id }}"><img src="{% static "/sketch/img/delete.png" %}"></a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            </div>

							<div class="col-md-5 note-row" id="notes_6">
                            {% for note in notes_6%}
                             <div class="note">
                                    <div class="n-title clearfix">
                                        <h4>Время</h4>
                                        <h5>{{ note.notes_time|date:"H:i"  }}</h5>
                                    </div>
                                    <div class="n-body">
                                        <input type="text" id="prior" value="{{ note.notes_priority }}" />
                                        <h4>Описание</h4>
                                        <p>{{ note.notes_description }}</p>
                                         <div class = "footer-note done">
                                             <label class="checkbox">
                                                 <h5>Выполнено</h5>
                                                 <input type="checkbox">
                                                 <span class="check"></span>
                                             </label>
                                        </div>

                                        <div class = "footer-note edit">
                                                <h5>Редакрировать</h5>
                                                <a href="/user/edit/{{ note.id }}"><img src="{% static "/sketch/img/edit.png" %}"></a>
                                        </div>

                                        <div class = "footer-note delete">
                                                <h5>Удалить</h5>
                                                <a href="/user/delete/{{ note.id }}"><img src="{% static "/sketch/img/delete.png" %}"></a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            </div>

                            <div class="col-md-5 note-row" id="notes_7">
                            {% for note in notes_7%}
                             <div class="note">
                                    <div class="n-title clearfix">
                                        <h4>Время</h4>
                                        <h5>{{ note.notes_time|date:"H:i"  }}</h5>
                                    </div>
                                    <div class="n-body">
                                        <input type="text" id="prior" value="{{ note.notes_priority }}" />
                                        <h4>Описание</h4>
                                        <p>{{ note.notes_description }}</p>
                                         <div class = "footer-note done">
                                             <label class="checkbox">
                                                 <h5>Выполнено</h5>
                                                 <input type="checkbox">
                                                 <span class="check"></span>
                                             </label>
                                        </div>

                                        <div class = "footer-note edit">
                                                <h5>Редакрировать</h5>
                                                <a href="/user/edit/{{ note.id }}"><img src="{% static "/sketch/img/edit.png" %}"></a>
                                        </div>

                                        <div class = "footer-note delete">
                                                <h5>Удалить</h5>
                                                <a href="/user/delete/{{ note.id }}"><img src="{% static "/sketch/img/delete.png" %}"></a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            </div>
                        </div>
					</div>
{% endblock %}